<ion-content>
  <div class="layer"></div>
  <div id="container">
    <div class="spacer"></div>
    <div class="logo">
      <h2>
        <img src="assets/imgs/logo_white.png" alt="">
      </h2>
      <div class="slogan">
        <h3>
          Search for Wireless Headphones
        </h3>
      </div>
    </div>

    <div class="login-slide-wrap">
      <div #slideBox class="login-slider">
        <span>
          Swipe to access
        </span>
        <ion-fab horizontal="end">
          <ion-fab-button color="light">            
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>
    </div>


  </div>
</ion-content>